@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/background_tree.jpg");
    top: 0;
    min-height: 500px;
    opacity: 1;
    animation: fadeIn 2s ease-out forwards;
    z-index: -1;
}

.welcomeContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(200, 200, 200, 0.05), rgba(0, 0, 0, 0.7));
    opacity: 1;

    animation: fadeIn 2s ease-out forwards;
    z-index: 3;
}

.section {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap; /* Ensure that items wrap to the next line */
    width: 100%; /* Ensure each section takes full width */
}

.section-title, .section-description {
    flex: 1 1 50%; /* Flex basis set to 50%, meaning each section will take half the width */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.section-title {
    background-color: #818181;
    color: white;
}

.section-description {
    background-color: #f5f5f5;
}

/* Ensuring responsive design for smaller screens */
@media (max-width: 768px) {
    .section-title, .section-description {
        flex: 1 1 100%; /* On small screens, each section will take the full width */
        height: auto; /* Allow for dynamic height */
    }
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .main-page-logo {
        width: 300px;
        height: 250px;
        background: transparent;
    }
}

.subtitle {
    color: white;
    opacity: 0;
}

.description {
    opacity: 0;
    max-width: 30%;
    text-align: center;
    margin-top: 20px !important;
    font-size: 18px !important;
}


.fade-in {
    animation: fadeInUp 1s ease-out 1s;
    animation-fill-mode: forwards;
}

