@import 'variables';

.sub-page {
    margin: 5% 0 20px 20px;
    padding: 0 $sideMargin;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        padding: 50px 10px 10px 10px;

    }
}


